* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}
.wrap {
  max-height: 1350px;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4em;
  margin-bottom: 10px;
}
.podtext {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 100;
}
img {
  width: 100%;
}
.header-name {
  position: absolute;
  text-align: center;
}
.brown-background {
  background-color: #926239;
  color: white;
}
.brown-text {
  color: #926239;
}
footer {
  display: flex;
}
article {
  padding: 20px;
}
.text-center {
  text-align: center;
}
button {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #926239;
  border-radius: 10px;
  color: #926239;
  background-color: transparent;
}
button:hover {
  background-color: #926239;
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 800px) {
  .header-name {
    margin-top: 50px;
  }
}
@media screen and (max-width: 550px) {
  .header-name {
    margin-top: 50px;
  }
  h1 {
    font-size: 30px;
  }
  button {
    border: 3px solid #926239;
    font-weight: 600;
  }
}
